<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>com.alfredapp.search-file-system</string>
    <key>category</key>
    <string>Tools</string>
    <key>connections</key>
    <dict>
      <key>25207757-A5EF-4D58-9006-05FC11CBBF2E</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>6B972463-72F4-4495-86E3-3663CA9D3805</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
          <key>vitoclose</key>
          <true></true>
        </dict>
      </array>
      <key>ADEAB6EF-E3CB-4923-ABD2-575E4BEE8C01</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>DBBE5B97-8BFF-46E6-AF37-9249B8E983F1</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
          <key>vitoclose</key>
          <true></true>
        </dict>
      </array>
      <key>DBBE5B97-8BFF-46E6-AF37-9249B8E983F1</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>EDB1AD04-55AB-4B86-8772-7F71B38894E9</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
          <key>sourceoutputuid</key>
          <string>843E21E0-E422-4A38-A624-20E26DE87C48</string>
          <key>vitoclose</key>
          <false></false>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>71DF145E-E3C8-46AD-9B7E-C6EADFF7EEBF</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
          <key>sourceoutputuid</key>
          <string>FFF0E9E0-C898-4F3E-9CFF-FD90E290840F</string>
          <key>vitoclose</key>
          <false></false>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>4E8C0B00-FEFF-48DE-9272-7AB284314B8E</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
          <key>sourceoutputuid</key>
          <string>06BF6E6B-F988-47B5-ACE0-7D80158666E8</string>
          <key>vitoclose</key>
          <false></false>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string>Aviv Ben Shahar</string>
    <key>description</key>
    <string>Alfred workflow to search files in the file system &amp; open them with a variety of applications</string>
    <key>disabled</key>
    <false></false>
    <key>name</key>
    <string>Search File System</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false></false>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <false></false>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>{var:vscode_keyword}</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true></true>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>2</integer>
          <key>runningsubtext</key>
          <string></string>
          <key>script</key>
          <string>./esbuild/assets/run-node.sh esbuild/find-in-fs.js "$1"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string></string>
          <key>subtext</key>
          <string>Search a path in your file system</string>
          <key>title</key>
          <string>Search &amp; Open via VSCode</string>
          <key>type</key>
          <integer>11</integer>
          <key>withspace</key>
          <true></true>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>25207757-A5EF-4D58-9006-05FC11CBBF2E</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>openwith</key>
          <string>/Applications/Visual Studio Code.app</string>
          <key>sourcefile</key>
          <string></string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.openfile</string>
        <key>uid</key>
        <string>6B972463-72F4-4495-86E3-3663CA9D3805</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>openwith</key>
          <string>/System/Applications/Utilities/Terminal.app</string>
          <key>sourcefile</key>
          <string></string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.openfile</string>
        <key>uid</key>
        <string>EDB1AD04-55AB-4B86-8772-7F71B38894E9</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false></false>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <true></true>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>{var:terminal_keyword}</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true></true>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>2</integer>
          <key>runningsubtext</key>
          <string></string>
          <key>script</key>
          <string>./esbuild/assets/run-node.sh esbuild/find-in-fs.js "$1"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string></string>
          <key>subtext</key>
          <string>Search a path in your file system</string>
          <key>title</key>
          <string>Search &amp; Open via Terminal</string>
          <key>type</key>
          <integer>11</integer>
          <key>withspace</key>
          <true></true>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>ADEAB6EF-E3CB-4923-ABD2-575E4BEE8C01</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>openwith</key>
          <string>/Applications/TerminalWarp.app</string>
          <key>sourcefile</key>
          <string></string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.openfile</string>
        <key>uid</key>
        <string>71DF145E-E3C8-46AD-9B7E-C6EADFF7EEBF</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>conditions</key>
          <array>
            <dict>
              <key>inputstring</key>
              <string>{var:terminal_app}</string>
              <key>matchcasesensitive</key>
              <false></false>
              <key>matchmode</key>
              <integer>0</integer>
              <key>matchstring</key>
              <string>native</string>
              <key>outputlabel</key>
              <string>{query}</string>
              <key>uid</key>
              <string>843E21E0-E422-4A38-A624-20E26DE87C48</string>
            </dict>
            <dict>
              <key>inputstring</key>
              <string>{var:terminal_app}</string>
              <key>matchcasesensitive</key>
              <false></false>
              <key>matchmode</key>
              <integer>0</integer>
              <key>matchstring</key>
              <string>warp</string>
              <key>outputlabel</key>
              <string>{query}</string>
              <key>uid</key>
              <string>FFF0E9E0-C898-4F3E-9CFF-FD90E290840F</string>
            </dict>
            <dict>
              <key>inputstring</key>
              <string>{var:terminal_app}</string>
              <key>matchcasesensitive</key>
              <false></false>
              <key>matchmode</key>
              <integer>0</integer>
              <key>matchstring</key>
              <string>iterm</string>
              <key>outputlabel</key>
              <string>{query}</string>
              <key>uid</key>
              <string>06BF6E6B-F988-47B5-ACE0-7D80158666E8</string>
            </dict>
          </array>
          <key>elselabel</key>
          <string>else</string>
          <key>hideelse</key>
          <true></true>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.conditional</string>
        <key>uid</key>
        <string>DBBE5B97-8BFF-46E6-AF37-9249B8E983F1</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>openwith</key>
          <string>/Applications/iTerm.app</string>
          <key>sourcefile</key>
          <string></string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.openfile</string>
        <key>uid</key>
        <string>4E8C0B00-FEFF-48DE-9272-7AB284314B8E</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
    </array>
    <key>readme</key>
    <string>Search across your filesystem with advanced features.

You can control whether to exclude hidden files, node_modules, inly in git repos, etc.

See the workflow codebase in here:
https://github.com/Avivbens/alfred-advance-fs-search</string>
    <key>uidata</key>
    <dict>
      <key>25207757-A5EF-4D58-9006-05FC11CBBF2E</key>
      <dict>
        <key>xpos</key>
        <integer>75</integer>
        <key>ypos</key>
        <integer>120</integer>
      </dict>
      <key>4E8C0B00-FEFF-48DE-9272-7AB284314B8E</key>
      <dict>
        <key>xpos</key>
        <integer>575</integer>
        <key>ypos</key>
        <integer>670</integer>
      </dict>
      <key>6B972463-72F4-4495-86E3-3663CA9D3805</key>
      <dict>
        <key>xpos</key>
        <integer>565</integer>
        <key>ypos</key>
        <integer>120</integer>
      </dict>
      <key>71DF145E-E3C8-46AD-9B7E-C6EADFF7EEBF</key>
      <dict>
        <key>xpos</key>
        <integer>575</integer>
        <key>ypos</key>
        <integer>555</integer>
      </dict>
      <key>ADEAB6EF-E3CB-4923-ABD2-575E4BEE8C01</key>
      <dict>
        <key>xpos</key>
        <integer>75</integer>
        <key>ypos</key>
        <integer>555</integer>
      </dict>
      <key>DBBE5B97-8BFF-46E6-AF37-9249B8E983F1</key>
      <dict>
        <key>xpos</key>
        <integer>305</integer>
        <key>ypos</key>
        <integer>560</integer>
      </dict>
      <key>EDB1AD04-55AB-4B86-8772-7F71B38894E9</key>
      <dict>
        <key>xpos</key>
        <integer>575</integer>
        <key>ypos</key>
        <integer>440</integer>
      </dict>
    </dict>
    <key>userconfigurationconfig</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>default</key>
          <string>vs</string>
          <key>placeholder</key>
          <string></string>
          <key>required</key>
          <true></true>
          <key>trim</key>
          <true></true>
        </dict>
        <key>description</key>
        <string></string>
        <key>label</key>
        <string>Open in VSCode keyword</string>
        <key>type</key>
        <string>textfield</string>
        <key>variable</key>
        <string>vscode_keyword</string>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>default</key>
          <string>ter</string>
          <key>placeholder</key>
          <string></string>
          <key>required</key>
          <true></true>
          <key>trim</key>
          <true></true>
        </dict>
        <key>description</key>
        <string></string>
        <key>label</key>
        <string>Open in Terminal</string>
        <key>type</key>
        <string>textfield</string>
        <key>variable</key>
        <string>terminal_keyword</string>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>default</key>
          <string>native</string>
          <key>pairs</key>
          <array>
            <array>
              <string>Native Terminal</string>
              <string>native</string>
            </array>
            <array>
              <string>Warp</string>
              <string>warp</string>
            </array>
            <array>
              <string>iTerm2</string>
              <string>iterm</string>
            </array>
          </array>
        </dict>
        <key>description</key>
        <string>Select your default terminal app</string>
        <key>label</key>
        <string>Terminal App</string>
        <key>type</key>
        <string>popupbutton</string>
        <key>variable</key>
        <string>terminal_app</string>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>defaultvalue</key>
          <integer>10</integer>
          <key>markercount</key>
          <integer>20</integer>
          <key>maxvalue</key>
          <integer>50</integer>
          <key>minvalue</key>
          <integer>1</integer>
          <key>onlystoponmarkers</key>
          <true></true>
          <key>showmarkers</key>
          <true></true>
        </dict>
        <key>description</key>
        <string>Select amount of results to show</string>
        <key>label</key>
        <string>Number of results</string>
        <key>type</key>
        <string>slider</string>
        <key>variable</key>
        <string>slice_amount</string>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>default</key>
          <string>folder</string>
          <key>pairs</key>
          <array>
            <array>
              <string>folder</string>
              <string>folder</string>
            </array>
            <array>
              <string>file</string>
              <string>file</string>
            </array>
            <array>
              <string>all</string>
              <string>all</string>
            </array>
          </array>
        </dict>
        <key>description</key>
        <string>Set the type of files you'd like to search</string>
        <key>label</key>
        <string>Target Type</string>
        <key>type</key>
        <string>popupbutton</string>
        <key>variable</key>
        <string>target_type</string>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>default</key>
          <string></string>
          <key>required</key>
          <false></false>
          <key>trim</key>
          <true></true>
          <key>verticalsize</key>
          <integer>6</integer>
        </dict>
        <key>description</key>
        <string>Search only within these paths</string>
        <key>label</key>
        <string>Paths to search</string>
        <key>type</key>
        <string>textarea</string>
        <key>variable</key>
        <string>only_in</string>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>default</key>
          <string></string>
          <key>required</key>
          <false></false>
          <key>trim</key>
          <true></true>
          <key>verticalsize</key>
          <integer>6</integer>
        </dict>
        <key>description</key>
        <string>Set paths to exclude from the results, in JS RegExp form</string>
        <key>label</key>
        <string>Paths to exclude</string>
        <key>type</key>
        <string>textarea</string>
        <key>variable</key>
        <string>exclude_paths</string>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>default</key>
          <string></string>
          <key>required</key>
          <false></false>
          <key>trim</key>
          <true></true>
          <key>verticalsize</key>
          <integer>6</integer>
        </dict>
        <key>description</key>
        <string>These paths would be shown even if other settings excluded them ✨ Could be in glob form</string>
        <key>label</key>
        <string>Paths to force include</string>
        <key>type</key>
        <string>textarea</string>
        <key>variable</key>
        <string>force_include</string>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>default</key>
          <true></true>
          <key>required</key>
          <false></false>
          <key>text</key>
          <string>Recommended</string>
        </dict>
        <key>description</key>
        <string>Whether to drop entities from inside .git directories</string>
        <key>label</key>
        <string>Exclude .git files</string>
        <key>type</key>
        <string>checkbox</string>
        <key>variable</key>
        <string>exclude_git</string>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>default</key>
          <true></true>
          <key>required</key>
          <false></false>
          <key>text</key>
          <string>Recommended</string>
        </dict>
        <key>description</key>
        <string>Drop all node_modules content files</string>
        <key>label</key>
        <string>Exclude node_modules files</string>
        <key>type</key>
        <string>checkbox</string>
        <key>variable</key>
        <string>exclude_node_modules</string>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>default</key>
          <false></false>
          <key>required</key>
          <false></false>
          <key>text</key>
          <string>Recommended</string>
        </dict>
        <key>description</key>
        <string>Whether to drop hidden files and directories</string>
        <key>label</key>
        <string>Exclude hidden entities</string>
        <key>type</key>
        <string>checkbox</string>
        <key>variable</key>
        <string>exclude_hidden</string>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>default</key>
          <false></false>
          <key>required</key>
          <false></false>
          <key>text</key>
          <string>Code Projects</string>
        </dict>
        <key>description</key>
        <string>This option allows you to narrow your search for git repos only</string>
        <key>label</key>
        <string>Show only git repos</string>
        <key>type</key>
        <string>checkbox</string>
        <key>variable</key>
        <string>git_repos_only</string>
      </dict>
    </array>
    <key>version</key>
    <string>1.3.2</string>
    <key>webaddress</key>
    <string>https://github.com/Avivbens/alfred-advance-fs-search</string>
  </dict>
</plist>